*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
a{color:inherit;}
hr {height: 3px;border: none;margin: 5px 0;background: linear-gradient(to right, transparent, #333, transparent);}

:root {--container-max: 1230px;--focus-ring: 2px;--border-radius: 8px;}

/* background: linear-gradient(to right, transparent, #333, transparent); */
/* background: linear-gradient(to right, #444, #888, #444); */
/* background: linear-gradient(to right, #ff5c00, #a300ff, #00fff7);box-shadow: 0 0 6px rgba(255, 92, 0, 0.5); */

/** HEADER PLACEHOLDER **/

.header-placeholder {height: 64px;}
.header--enter {opacity: 0;}
.header--ready {transition: opacity .3s ease-in;opacity: 1;}

/** PAGE STYLE **/

body {
    background: linear-gradient(135deg, #111111 0%, #222222 50%, #000000 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    /* ? background-color: inherit; */
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: var(--container-max);
    margin: 0 auto;
    padding: 0 15px;
}

/* STRUCTURE:
position
display
flex
flex-direction
grid
justify-content
box-sizing
object-fit
background
    background-size
    background-color
    background-repeat
    background-attachment
color
border
    border-radius
top
bottom
left
right
height
min-height
max-height
width
min-width
max-width
align-content
align-items
align-self
text-align
line-height
font-family
font-weight
font-style
font-size
color
word-spacing
letter-spacing
text-decoration
text-shadow
transition
transform
z-index
cursor
gap
margin
padding
white-space
overflow
*/