*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
a{color:inherit;}
hr {height: 3px;border: none;margin: 5px 0;background: linear-gradient(to right, transparent, #333, transparent);}

/* background: linear-gradient(to right, transparent, #333, transparent); */
/* background: linear-gradient(to right, #444, #888, #444); */
/* background: linear-gradient(to right, #ff5c00, #a300ff, #00fff7);box-shadow: 0 0 6px rgba(255, 92, 0, 0.5); */

/* STRUCTURE:
background: ;
background-color: ;
color: ;
position: ;
top: auto;
bottom: auto;
display: ;
height: ;
width: ;
align-content: ;
align-items: ;
align-self: ;
text-align: 
line-height: ;
font-family: serif;
font-style: italic;
font-weight: normal;
font-size: ;
word-spacing: ;
white-space: ;
letter-spacing: normal;
text-decoration: ;
text-shadow: hoff voff blur #000;
margin: ;
padding: ;
*/