body {
    background: linear-gradient(50deg, #ffffff, #000000);

}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    /* background-color: #000000; */
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

/** Header **/

.header {
    height: 100vh;
}

.header__top-inner {
    display: flex;
    padding: 15px 0;
    line-height: 1rem;
    justify-content: space-between;
    white-space: nowrap;
}

.header__logo {
    /* Содержит logo.svg и .title */
    display: inline-flex;
    align-items: end;
    color: #ffffff;
    margin-right: 1.5rem;
}

.header__logo img {
    margin-right: 1.5rem;
}

.title {
    font-size: 2.8rem;
    font-family: ITC Century Std, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    /* white-space: nowrap; */
}

.header__nav {
    display: flex;
    align-items: end;
    /* white-space: nowrap; */
}

.header__nav-item {
    margin-right: 1.5rem;
    font-size: 1.5rem;
    font-family: ITC Century Std;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}

.header__nav-item:last-child {
    margin-right: 0;
}


/** Main **/

/** Footer **/