body {
    background: linear-gradient(135deg, #111111 0%, #222222 50%, #000000 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/** Header **/

.header {}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'ITC Century Std';
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    padding: 15px 0;
}

/* Logo & Title */

.header__logo {
    display: inline-flex;
    align-items: flex-end;
    gap: 1rem;
}

.title {
    font-size: 1.5rem;
}

.title:hover {
    text-decoration: underline;
}

/* Navigation */

.header__nav {
    display: flex;
    align-items: flex-end;
    font-size: 1rem;
}

.header__nav-item {
    margin-right: 1rem;
}

.header__nav-item:last-child {
    margin-right: 0rem;
}

.header__nav-link {
    display: inline-flex;
    align-items: flex-end;
    gap: 0.5rem;
}

.header__nav-link img {
    transition: transform 0.3s ease-in-out;
}

.header__nav-link img:hover {
    transform: scale(1.2);
}

.header__nav-link span:hover {
    text-decoration: underline;
}

/** Main **/

.main {
    flex: 1 1 auto;
}

.main__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 15px 0;
}

/* About Me */

.main__about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 510px;
    max-width: 300px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #ffffff;
    text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.5);
    gap: 1rem;
    margin: 0;
}

.main__about-block {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #303030;
    border-radius: 10px;
    text-align: center;
    padding: 0 0.5rem;
    overflow: hidden;
}


.main__about-block h2 {
    font-size: 1.2rem;
    text-decoration: underline;
    margin: 5px 0;
}

.main__about-block p {
    font-size: 1rem;
    margin: 5px 0;
}

.main__about-block a:hover {
    text-decoration: underline;
}

/* Gallery */

.main__gallery {
    position: relative;
    padding: 0px 60px;
    overflow: hidden;
}

.gallery__btn {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    top: 50%;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.gallery__btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.gallery__btn--prev {
    left: 15px;
}

.gallery__btn--next {
    right: 15px;
}

.gallery__viewport {
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.main__gallery-wrap {
    display: flex;
    gap: 10px;
    height: 30rem;
    transition: transform 0.5s ease;
    width: max-content;
}

.main__gallery-wrap img {
    width: 15rem;
    flex-shrink: 0;
    height: 100%;
    object-fit: cover;
}

/* Mobile */
@media (max-width: 768px) {
    .gallery__viewport {
        max-width: 100%;
    }

    .main__gallery-wrap {
        flex-direction: column;
        height: auto;
    }

    .main__gallery-wrap img {
        width: 100%;
        height: 250px;
    }

    .gallery__btn {
        display: none;
    }
}

/*  */

/** Footer **/

.footer {}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'ITC Century Std';
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    padding: 15px 0;
}

/* Logo & Title */

.footer__logo {
    display: inline-flex;
    align-items: flex-end;
    gap: 1rem;
}

.title {
    font-size: 1.5rem;
}

/* Navigation */

.footer__nav {
    display: flex;
    align-items: flex-end;
    height: 100%;
    font-size: 1rem;
}

.footer__nav-item {
    margin-right: 1rem;
}

.footer__nav-item:last-child {
    margin-right: 0rem;
}

.footer__nav-link {
    display: inline-flex;
    align-items: flex-end;
    gap: 0.5rem;
}

.footer__nav-link img {
    transition: transform 0.3s ease-in-out;
}

.footer__nav-link img:hover {
    transform: scale(1.2);
}

.footer__nav-link span:hover {
    text-decoration: underline;
}