body {
    background: linear-gradient(135deg, #111111 0%, #222222 50%, #000000 100%);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

/** Header **/

.header {
    height: 100%;
}

.header__inner {
    display: flex;
    align-items: flex-end;
    padding: 15px 0;
    justify-content: space-between;
    white-space: nowrap;
    font-family: 'ITC Century Std';
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.5);
}

.header__logo {
    display: inline-flex;
    align-items: flex-end;
    gap: 1rem;
}

.title {
    font-size: 1.5rem;
}

.header__nav {
    display: flex;
    align-items: flex-end;
    height: 100%;
    font-size: 1rem;
}

.header__nav-item {
    margin-right: 1rem;
}

.header__nav-item:last-child {
    margin-right: 0rem;
}

.header__nav-link {
    display: inline-flex;
    align-items: flex-end;
    gap: 0.5rem;
}

.header__nav-link img {
    transition: transform 0.3s ease-in-out;
}

.header__nav-link img:hover {
    transform: scale(1.2);
}

.header__nav-link span:hover {
    text-decoration: underline;
}

/** Main **/

.main {
    flex: 1 1 auto;
}

.main__inner {
    display: flex;
    padding: 15px 0;
    white-space: nowrap;
    font-family: 'ITC Century Std';
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.5);
}

.main__about {
    display: inline-flex;
    gap: 1rem;
}

.main__about-block {
    white-space: wrap;
    border-radius: 10px;
    border: 3px;
    border-style: solid;
    border-color: #303030;
    display: grid;
    grid-auto-rows: min-content;
    word-spacing: 0.1rem;
    letter-spacing: 0.1rem;
    min-width: 150px;
    max-width: 400px;
    max-height: 210px;
    padding: 0 0.5rem;
    overflow: hidden;
    /* background: linear-gradient(135deg, #111111 0%, #222222 50%, #000000 100%); */
}

.main__about-block h2 {
    font-size: 1.5rem;
    text-decoration: underline;
    margin: 5px 0;
}

.main__about-block p {
    font-size: 1rem;
    margin: 5px 0;
}

/** Footer **/

.footer {
    height: 100%;
}

.footer__inner {
    display: flex;
    align-items: flex-end;
    padding: 15px 0;
    justify-content: space-between;
    white-space: nowrap;
    font-family: 'ITC Century Std';
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.5);
}

.footer__logo {
    display: inline-flex;
    align-items: flex-end;
    gap: 1rem;
}

.title {
    font-size: 1.5rem;
}

.footer__nav {
    display: flex;
    align-items: flex-end;
    height: 100%;
    font-size: 1rem;
}

.footer__nav-item {
    margin-right: 1rem;
}

.footer__nav-item:last-child {
    margin-right: 0rem;
}

.footer__nav-link {
    display: inline-flex;
    align-items: flex-end;
    gap: 0.5rem;
}

.footer__nav-link img {
    transition: transform 0.3s ease-in-out;
}

.footer__nav-link img:hover {
    transform: scale(1.2);
}

.footer__nav-link span:hover {
    text-decoration: underline;
}