<header class="header">
    <!-- Header Inner -->
    <div class="header__inner">
        <div class="container header__container">
            <!-- Brand -->
            <a class="header__brand" href="index.html" title="Перейти на главную">
                <img class="header__brand-logo" src="/images/logo/logo-white.svg" alt="" aria-hidden="true">
                <span class="header__brand-name">UnSainTeD-Dev</span>
            </a>
            <!-- Navigation -->
            <nav class="header__nav" aria-label="Main navigation">
                <ul class="header__nav-list">
                    <li class="header__nav-item" title="Перейти на страницу списка версий"><a class="link header__nav-link" href="/version-page.html" data-nav="Version List">Version List</a></li>
                    <li class="header__nav-item" title="Перейти на страницу дорожной карты"><a class="link header__nav-link" href="/roadmap-page.html" data-nav="RoadMap">RoadMap</a></li>
                </ul>
            </nav>
            <!-- External -->
            <ul class="header__external" aria-label="External links">
                <li class="header__external-item" title="Перейти на GitHub">
                    <a class="link header__external-link" href="https://github.com/UnSainTeD-Dev" target="_blank" rel="noopener noreferrer" data-nav="GitHub"><img src="/images/icons/github-icon.svg" alt="" aria-hidden="true">GitHub</a></li>
            </ul>
        </div>
    </div>
</header>
