<header class="header">
    <div class="container header__inner">
        <a class="header__brand" href="index.html" title="Перейти на главную">
            <img class="header__brand-logo" src="/img/logo/logo-white.svg" alt="" aria-hidden="true">
            <span class="header__brand-name">UnSainTeD-Dev</span>
        </a>
        <nav class="header__nav" aria-label="Main navigation">
            <ul class="header__menu header__menu--main">
                <li class="header__item" title="Перейти на страницу списка версий">
                    <a class="header__link" href="/version-page.html" data-nav="Version List">
                        <span>Version List</span>
                    </a>
                </li>
                <li class="header__item" title="Перейти на страницу дорожной карты">
                    <a class="header__link" href="/roadmap-page.html" data-nav="RoadMap">
                        <span>RoadMap</span>
                    </a>
                </li>
            </ul>
        </nav>
        <ul class="header__menu header__menu--ext" aria-label="External links">
            <li class="header__item" title="Перейти на GitHub">
                <a class="header__link" href="https://github.com/UnSainTeD-Dev" target="_blank"
                    rel="noopener noreferrer" data-nav="GitHub">
                    <img src="/img/icons/github-icon.svg" alt="" aria-hidden="true">
                    <span>GitHub</span>
                </a>
            </li>
            <li class="header__item" title="Перейти на Steam">
                <a class="header__link" href="https://steamcommunity.com/id/unsted/" target="_blank"
                    rel="noopener noreferrer" data-nav="Steam">
                    <img src="/img/icons/steam-icon.svg" alt="" aria-hidden="true">
                    <span>Steam</span>
                </a>
            </li>
        </ul>
    </div>
</header>