/** MAIN **/

.main {
    flex: 1 1 auto;
}

.main__inner {
    display: flex;
    font: var(--main-font);
    font-size: 1rem;
    color: var(--main-color);
    text-shadow: var(--main-text-shadow);
    margin: 0;
    padding: 15px 0;
}

/** MAIN SIDEBAR-NAVIGATION **/

.sidebar-nav {
    position: fixed;
    border: 2px solid #303030;
    border-radius: var(--border-radius);
    right: 30px;
    max-height: 40vh;
    max-width: 16vw;
    padding: 1rem;
}

.sidebar-nav-list {
    align-items: center;
}

.sidebar-nav-item {
    margin-bottom: 0.5rem;
    transition: all .3s ease-in-out;
}

.sidebar-nav-item:last-child {
    margin-bottom: 0;
}

.sidebar-nav-item:hover {
    color: #303030;
}

/** MAIN CHANGELOG-SECTIONS **/

.main__changelog {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 0 5rem;
    overflow: hidden;
}

.main__changelog h2 {
    text-align: center;
    font-size: 1.5rem;
}

.main__changelog-article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.changelog__entry {
    display: block;
}

.changelog__entry h3 {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.changelog__article-list {
    border: 3px solid #303030;
    border-radius: var(--border-radius);
    padding: 1rem 1.5rem;
}

.changelog__article-list li {
    position: relative;
}

.changelog__article-list li+li {
    margin-top: 0.5rem;
}

.changelog__article-list li::before {
    content: "- ";
    position: absolute;
    left: -1rem;
}

/** FOOTER **/

.footer__inner {
    line-height: 1.2rem;
    font: var(--footer-font);
    color: var(--main-color);
    text-shadow: var(--main-text-shadow);
    padding: 15px 0;
}

.footer__copyright {
    text-align: center;
}

.footer__copyright a:hover {
    text-decoration: underline;
}